.git
.idea
.vscode
venv
__pycache__
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.ipynb_checkpoints
.ipynb_checkpoints/
mlruns
mlruns/
mlflow.db
artifacts
outputs
multirun
models
reports
data/prepared
data/models
dvc_storage
notebooks
logs
logs/
logs/**
**/logs/**
plugins
plugins/
plugins/**